{% extends 'base.html' %}
{% block content %}
    <main class="container-fluid dashboard ">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="row">
            <div class="col-lg-3 col-md-12 mt-2 ">
                    <div class="card z-index-2 mt-5 ">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="rounded text-center border-radius-lg py-3">
                            <img width="250" height="250" class="rounded-circle" src="{{user.get_avatar_url}}">
                        </div> 
                        </div>
                        <div class="card-body text-center">
                            <form role="form" method='post' enctype="multipart/form-data" class="text-start">
                                {% csrf_token %}
                                <div class=" my-3">
                                  {{form.avatar_image}}
                                </div>
                                <div class="text-center">
                                  <button value="submit" type="submit" class="btn btn-outline-danger w-100 my-4 mb-2">Change Image</button>
                                </div>
                              </form>
                        <h6 class="mb-0 ">{{user.first_name}} {{user.last_name}}</h6>
                        <p class="text-sm ">{{user.email}}</p>
                        <hr class="dark horizontal">
                        <div class="text-center">
                            <p class="mb-0 text-sm">{{user.user_type}}</p>
                        </div>
                        </div>
                    </div>
            </div>
        <div class="col-lg-9">
            <div classs="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2 ">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-secondary rounded px-5  py-1 pe-1">
                        <div class="events-count">
                        <h4 class="text-white h1">{{events.count}}</h4>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <h6 class="mb-0 ">Events</h6>
                    <p class="text-sm ">Total Number of Events</p>
                    <hr class="dark horizontal">
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-success rounded px-5 py-1 pe-1">
                        <div class="events-count">
                            <h4 class="text-white h1">{{attending_events}}</h4>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <h6 class="mb-0 "> Attending </h6>
                    <p class="text-sm ">Total Number Of Events</p>
                    <hr class="dark horizontal">
                    </div>
                </div>
                </div>
                <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2 ">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-danger shadow-dark rounded px-5 py-1 pe-1">
                        <div class="events-count">
                            <h4 class="text-white h1">{{completed_events}}</h4>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <h6 class="mb-0 ">Attended</h6>
                    <p class="text-sm ">Total Number Of Events</p>
                    <hr class="dark horizontal">
                    </div>
                </div>
                </div>
            </div>
            <div>
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-success rounded  rounded pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Events Table</h6>
                        </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                <th class="text-uppercase text-secondary  font-weight-bolder ">Event</th>
                                <th class="text-uppercase text-secondary font-weight-bolder  ps-2">Event Date</th>
                                <th class="text-center text-uppercase text-secondary font-weight-bolder ">Status</th>
                                <th class="text-center text-uppercase text-secondary font-weight-bolder ">Venue</th>
                                <th class="text-secondary "></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for event in events %}
                                    <tr>
                                        <td>
                                            <div class="d-flex pr-5 px-2 py-1">
                                            <div class="pr-4 mr-3 pl-5">
                                                <img width='80' src="{{event.get_image_url}}" alt="{{event.event_title|truncatechars:5}}">
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="d-flex ml-5 flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm pl-3 ">{{event.event_title}}</h6>
                                                <p class="text-xs text-secondary mb-0 pl-3 ">{{event.category}}</p>
                                            </div>
                                            </div>
                                        </td>
                                        <td>
                                            
                                            {% if event.end_date %}
                                            <p class="text-xs font-weight-bold mb-0">{{event.start_date}} - {{event.end_date}}</p>
                                            {% else %}
                                            <p class="text-xs font-weight-bold mb-0">{{event.start_date}}</p>
                                            {% endif %}
                                            <p class="text-xs text-secondary mb-0">Time: {{event.start_time}} - {{event.end_time}}</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if event.status == 'disabled' %}
                                            <span class="badge badge-sm bg-secondary">{{event.status}}</span>
                                            {% elif  event.status == 'active'%}
                                            <span class="badge badge-sm bg-success">{{event.status}}</span>
                                            {% elif  event.status == 'deleted'%}
                                            <span class="badge badge-sm bg-danger">{{event.status}}</span>
                                            {% elif  event.status == 'blocked'%}
                                            <span class="badge badge-sm bg-info">{{event.status}}</span>
                                            {% elif  event.status == 'completed'%}
                                            <span class="badge badge-sm bg-danger">{{event.status}}</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{event.venue}}</span>
                                            <br>
                                            <span class="badge badge-sm bg-secondary">{{event.event_type}}</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="{{event.get_absolute_url}}" class="text-primary font-weight-bold text-xs h5" data-toggle="tooltip" data-original-title="Edit user">
                                            view
                                            </a>
                                        </td>
                                        </tr>
                                {%endfor%}
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</main>
{%endblock content%}